In [4]:
from clean import *

In [5]:
path = 'data/weather.csv'
df = extract_data_to_df(path)
clean_df(df)

   Data.Precipitation   Date.Full  Date.Month  Date.Week of  Date.Year  \
0                0.00  2016-01-03           1             3       2016
1                0.00  2016-01-03           1             3       2016
2                0.16  2016-01-03           1             3       2016
3                0.00  2016-01-03           1             3       2016
4                0.01  2016-01-03           1             3       2016

  Station.City Station.Code Station.Location Station.State  \
0   Birmingham          BHM   Birmingham, AL       Alabama
1   Huntsville          HSV   Huntsville, AL       Alabama
2       Mobile          MOB       Mobile, AL       Alabama
3   Montgomery          MGM   Montgomery, AL       Alabama
4    Anchorage          ANC    Anchorage, AK        Alaska

   Data.Temperature.Avg Temp  Data.Temperature.Max Temp  \
0                         39                         46
1                         39                         47
2                         46                         51
3                         45                         52
4                         34                         38

   Data.Temperature.Min Temp  Data.Wind.Direction  Data.Wind.Speed
0                         32                   33             4.33
1                         31                   32             3.86
2                         41                   35             9.73
3                         38                   32             6.86
4                         29                   19             7.80
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16743 entries, 0 to 16742
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Data.Precipitation         16743 non-null  float64
 1   Date.Full                  16743 non-null  object
 2   Date.Month                 16743 non-null  int64
 3   Date.Week of               16743 non-null  int64
 4   Date.Year                  16743 non-null  int64
 5   Station.City               16743 non-null  object
 6   Station.Code               16743 non-null  object
 7   Station.Location           16743 non-null  object
 8   Station.State              16743 non-null  object
 9   Data.Temperature.Avg Temp  16743 non-null  int64
 10  Data.Temperature.Max Temp  16743 non-null  int64
 11  Data.Temperature.Min Temp  16743 non-null  int64
 12  Data.Wind.Direction        16743 non-null  int64
 13  Data.Wind.Speed            16743 non-null  float64
dtypes: float64(2), int64(7), object(5)
memory usage: 1.8+ MB
None

In [9]:
df.columns.tolist()[:3]

['Data.Precipitation', 'Date.Full', 'Date.Month']

In [17]:
def snakecasify_columns(df):
    '''For a pandas dataframe, coerce column names to snake_case.'''
    cols = df.columns.tolist()
    cols_mod = [0]*len(cols)
    for i, c in enumerate(cols):
        cols_mod[i] = c.lower().strip().replace(" ","_")
    d = dict(zip(cols, cols_mod))
    df.rename(columns=d, inplace=True)
    return df

x = snakecasify_columns(df)
x.head()

,data.precipitation,date.full,date.month,date.week_of,date.year,station.city,station.code,station.location,station.state,data.temperature.avg_temp,data.temperature.max_temp,data.temperature.min_temp,data.wind.direction,data.wind.speed
0,0.00,2016-01-03,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39,46,32,33,4.33
1,0.00,2016-01-03,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39,47,31,32,3.86
2,0.16,2016-01-03,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46,51,41,35,9.73
3,0.00,2016-01-03,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45,52,38,32,6.86
4,0.01,2016-01-03,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34,38,29,19,7.80